{% extends 'base.html' %}

{% block title %}
Room Category List
{% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table table-hover align-middle mb-0">
        <thead class="table-light">
            <tr>
                <th>Room Category</th>
                <th>Price</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for each in roomCategory %}
            <tr>
                <td class="fw-semibold">{{ each.category }}</td>
                <td class="fw-semibold">{{ each.price }}</td>
                <td class="text-center">

                    <a href="{% url 'edit_category' each.id %}" class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a href="{% url 'delete_category' each.id %}" class="btn btn-danger btn-sm">
                        Delete
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}