{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h3>Room {{ room.room_number }}</h3>
        <p><strong>Category:</strong> {{ room.room_category }}</p>
        <p><strong>Status:</strong> {{ room.room_status }}</p>
    </div>
    <a href="{% url 'editRoom' room.id %}" class="btn btn-outline-warning btn-sm mt-3">
        <i class="bi bi-pencil"></i> Edit
    </a>

    <a href="{% url 'deleteRoom' room.id %}" class="btn btn-outline-danger btn-sm mt-3">
        <i class="bi bi-trash"></i> Delete
    </a>
</div>
{% endblock %}