<nav class="nav nav-pills flex-column flex-sm-row p-2 shadow-sm rounded bg-dark border-bottom border-secondary mb-5">
  <a class="flex-sm-fill text-sm-center nav-link text-white-50 p-3 active-custom" href="#">
    <i class="fas fa-hotel me-2"></i>Hotel Management
  </a>
  <a class="flex-sm-fill text-sm-center nav-link text-white-50 p-3" href="{% url 'roomsList' %}">
    <i class="fas fa-bed me-2"></i>Rooms
  </a>
  <a class="flex-sm-fill text-sm-center nav-link text-white-50 p-3" href="{% url 'guestList' %}">
    <i class="fas fa-users me-2"></i>Guests
  </a>
  <a class="flex-sm-fill text-sm-center nav-link text-white-50 p-3" href="#">
    <i class="fas fa-credit-card me-2"></i>Payments
  </a>
  <a class="flex-sm-fill text-sm-center nav-link text-white-50 p-3" href="#">
    <i class="fas fa-chart-line me-2"></i>Reports
  </a>
</nav>